<div class="message-form">
  <div class="notice">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <b>
      <%= flash[:notice] %>
      <%= flash[:alert] %>
    </b>
    </br>
    </br>
  </div>
  <%= form_for @message, :url => contact_path do |form| %>
  <fieldset class="fields">
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label :email %>
      <%= form.text_field :email %>
    </div>
    <div class="field">
      <%= form.label :subject %>
      <%= form.text_field :subject %>
    </div>

    <div class="field textarea">
      <%= form.label :body %>
      <%= form.text_area :body %>
    </div>
  </fieldset>

  <fieldset class="actions">
    <%= form.submit "Send", :class => 'btn btn-warning' %>
  </fieldset>
  <% end %>
</div>
