<!DOCTYPE html>
<html>
<head>
  <title>Resume</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="background">
<div class="container">
  <span>

    <img src="/assets/banner.png">
  </span>
</div>
<div class="container">
  <div>
    <ul class="nav nav-tabs mytab" id="myTab">
      <li class="active"><a href="#home">Home</a></li>
      <li><a href="#studies">Studies</a></li>
      <li><a href="#skills">Skills</a></li>
      <li><a href="#portfolio">Portfolio</a></li>
      <li><a href="#blog">Blog</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
    <div class="tab-content span9" id="tab-content">
      <div class="tab-pane active" id="home">
        <%= html_escape(render "shared/index") %>
      </div>
      <div class="tab-pane" id="studies">
        <%= html_escape(render "shared/studies") %>
      </div>
      <div class="tab-pane" id="skills">
        <%= html_escape(render "shared/skills") %>
      </div>
      <div class="tab-pane" id="portfolio">
        <%= html_escape(render "shared/portfolio") %>
      </div>
      <div class="tab-pane" id="blog">
        <%= html_escape(render "shared/blog") %>
      </div>
      <div class="tab-pane" id="contact">
        <%= html_escape(render "shared/contact") %>
      </div>
    </div>
  </div>
</div>

</body>

</html>
