<!DOCTYPE html>
<html>
<head>
  <title>Resume</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="background">
<div class="container">
  <span>

    <img src="/assets/banner.png">
  </span>
</div>
<div class="container-fluid cont-div">
  <div>
    <ul class="nav nav-tabs mytab span8" id="myTab">
      <li class="<%= 'active' if params[:tab] == 'home' %>"><a href="#home">Home</a></li>
      <li class="<%= 'active' if params[:tab] == 'studies' %>"><a href="#studies">Studies</a></li>
      <li class="<%= 'active' if params[:tab] == 'skills' %>"><a href="#skills">Skills</a></li>
      <li class="<%= 'active' if params[:tab] == 'portfolio' %>"><a href="#portfolio">Portfolio</a></li>
      <li class="<%= 'active' if params[:tab] == 'blog' %>"><a class="external" href="#blog" data-toggle="modal" data-target="#myModal">Blog</a></li>
      <li class="<%= 'active' if params[:tab] == 'contact' %>"><a href="#contact">Contact</a></li>
    </ul>
    <div class="tab-content span8" id="tab-content">
      <div class="<%= if params[:tab] == 'home' then 'tab-pane active'  else 'tab-pane' end%>" id="home">
        <%= html_escape(render "shared/index") %>
      </div>
      <div class="<%= if params[:tab] == 'studies' then 'tab-pane active'  else 'tab-pane' end%>" id="studies">
        <%= html_escape(render "shared/studies") %>
      </div>
      <div class="<%= if params[:tab] == 'skills' then 'tab-pane active'  else 'tab-pane' end%>" id="skills">
        <%= html_escape(render "shared/skills") %>
      </div>
      <div class="<%= if params[:tab] == 'portfolio' then 'tab-pane active'  else 'tab-pane' end%>" id="portfolio">
        <%= html_escape(render "shared/portfolio") %>
      </div>
      <div class="<%= if params[:tab] == 'blog' then 'tab-pane active'  else 'tab-pane' end%>" id="blog">
        <%= html_escape(render "shared/blog") %>
      </div>
      <div class="<%= if (params[:tab] == 'contact' || !params[:tab]) then 'tab-pane active'  else 'tab-pane' end%>" id="contact">
        <%= html_escape(render "contact/new") %>
      </div>
    </div>
  </div>

  <!-- Menú lateral-->
  <div class="span3 tab-content">
        <h2>Social</h2>
    <p>
      <!-- Google Maps -->
      <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
      <meta charset="utf-8">
      <style>
          html, #map-canvas {
              height: 100%;
              margin: 0px;
              padding: 0px
          }
      </style>
      <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <div id="map-canvas" style="height: 238px;"></div>
    </p>

    <!-- Twitter -->
    <p>
      <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/saulgo18" data-widget-id="365501710162067458">Tweets
        by @saulgo18</a>
      <script>!function (d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
          if (!d.getElementById(id)) {
              js = d.createElement(s);
              js.id = id;
              js.src = p + "://platform.twitter.com/widgets.js";
              fjs.parentNode.insertBefore(js, fjs);
          }
      }(document, "script", "twitter-wjs");</script>
    </p>
    <!-- Facebook -->
    <p>
      <a href="https://www.facebook.com/Saul18" target="_TOP" title="Sa&#xfa;l G&#xf3;mez"><img src="https://badge.facebook.com/badge/1844615556.3214.1523246714.png" style="border: 0px;"/></a><br/>
    </p>
  </div>
</div>


</body>

</html>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Blogger</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
