<!DOCTYPE html>
<html>
<head>
  <title>Resume</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">
  <span>

    <img src="/assets/banner.png">
  </span>
</div>
<div class="container">
  <ul class="nav nav-pills">
    <li>
      <%= link_to "Home", menus_path, :class => 'btn btn-info' %>

    </li>
    <li>
      <%= link_to 'Studies', studies_path,
                  :id => 'studies',
                  :remote => true,
                  :class => 'btn btn-info' %>
    </li>
    <li>
      <%= link_to "Skills", skills_path,
                  :id => 'skills',
                  :remote => true,
                  :class => 'btn btn-info'%>
    </li>
    <li>
      <%= link_to "Porfolio", portfolio_path,
                  :id => 'portfolio',
                  :remote => true,
                  :class => 'btn btn-info'%>
    </li>
    <li>
      <%= link_to "Blog", blog_path,
                  :id => 'blog',
                  :remote => true,
                  :class => 'btn btn-info'%>
    </li>
    <li>
      <%= link_to "Contact", contact_path,
                  :id => 'contact',
                  :remote => true,
                  :class => 'btn btn-info'%>
    </li>

  </ul>
  <div class="row">
    <div class="span9">
      <%= yield %>
    </div>
    <div class="span3">
      <h4>Menú lateral</h4>
    </div>
  </div>

</div>
</body>
</html>
